[package]
name = "assets"
version = "0.1.0"
edition = "2021"

[lib]

[dependencies]
bevy = { workspace = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = { workspace = true }

[build-dependencies]
bevy = { workspace = true }
