/target
/assets/cache
/assets/video_downloads
/assets/scene_dump
.vscode/settings.json
config.json
/log
/deploy/web/assets
/deploy/web/modules
/deploy/web/pkg
/deploy/web/.env
/deploy/web/package-lock.json
/deploy/web/node_modules
.idea