/target
/assets/cache
/assets/video_downloads
/assets/scene_dump
.vscode/settings.json
config.json
/log
/deploy/web
/deploy/web-build/assets
/deploy/web-build/dcl-deps
/deploy/web-build/modules
/deploy/web-build/public
/deploy/web-build/node_modules
/deploy/web-build/package-lock.json
